.App {
  display: flex;
  flex-direction: column;
  text-align: center;

}


.brandlogo {
  display:flex;
  flex:1;
  padding:20px;
  justify-content: center;
  align-items: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app__form {
  overflow:auto;
  position: fixed;
  bottom: 0;
  z-index: 1;
  width: 100%;

}

.app__formControl {
  display:flex !important;
  flex:1;
  flex-direction: row !important;
}


.app__input {
  flex:1;

}

.app__iconButton { 
  flex: 0;

}